/* styles.css */


body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('imgs/infinitemaze.gif');
    background-position: center;
    /* background-size: cover; */
    /* background: linear-gradient(40deg, #0284C7, #72DDF7);
    background-size: 500% 200%;
    animation: gradientAnimation 8s linear infinite; */
}

.header {
    position: relative;
    background-image: linear-gradient(#53747c, rgb(144, 202, 238)); /* Header background gradient */
    color: #fff; /* Text color */
    padding: 2px; /* Adjust header padding */
    padding-left: 20px;
    text-align: left; /* Align text to the left */
    border-radius: 3px;
    box-shadow: 0px 1px 4px -2px #173a60;
    text-shadow: 1.5px -1px #224374;
    opacity: 0.95;
  }
  
  .header:after {
    /* content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1; */
    content: '';
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 120%);
    z-index: 0;
  }
  
  .header-content {
    max-width: 1200px; /* Adjust maximum width of content */
    margin: 0 auto; /* Center align content */
  }
  
  h1 {
    font-size: 22px; /* Header text size */
    font-family:'Orbitron', sans-serif;
    /* margin-bottom: 5px; Space between header text and tagline */
  }
  

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 1;
}

.background {
    background: linear-gradient(40deg, #003955, rgb(54, 106, 119, 0.7)); /*Gradient colors */
    background-size: 500% 200%;
    animation: gradientAnimation 8s linear infinite; /*Animation duration and timing function */
    background-blend-mode: multiply;
    overflow: hidden;
  }

button {
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0px 1px 4px -2px #173a60;
    text-shadow: 1.5px -1px #224374;
    background-image: linear-gradient(#53747c, rgb(144, 202, 238));
    /* Additional styles */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

button:after {
    content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}

button:hover {
    background: linear-gradient(rgb(0, 119, 117),rgb(0, 191, 255));
}

#png1 {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    max-height: 100vh;
    width: auto;
    height: auto;
    z-index: 0;
    opacity: 0.2;
}

.popup {
    position: absolute;
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
}

p {
    color: #fff
}

/* Define the gradient animation */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
